# path/to/project/root/.eslintignore
# /node_modules/* and /bower_components/* in the project root are ignored by default


# FOLDERS
.git
dist
jsdocs
assets/icomoon
assets/js/vendor

# FILES
.gitignore
*.md
LICENSE
